@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Delicious+Handrawn&display=swap'); 

* {
	font-family: 'Roboto', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif !important;
}

h1, h2, h3, h4, h5, h6 {
	outline: 1px solid cyan;
}

p {
	outline: 1px solid blue;
}

a {
	outline: 1px solid red;
}

/* .main-section {
	outline: 2px solid grey;
} */

body {
	padding-top: 40px; /* for 'fixed-top' nav bar */
}

#navbar {
	background-color: #ddd !important;
}

#navbar a:hover {
	color: #000;
}

.active {
	color: #000 !important;
}

.main-section {
	width: 100vw;
	/* text-align: center; */
	background-image: linear-gradient(#ddd, #fff);
}

.main-section h1 {
	color: #000;
}

#social-section {
	height: 150vh;
}